.sidebar-link  {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff !important;
    fill: currentColor;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;

    /* background-color: #021019; */
    /* border-radius: 25px; */
    /* margin-bottom: 2px; */
}

.sidebar-item {
    padding: 12px;
}

.twitter-icon {
    height: 26.5px;
    width: 26.5px;
    margin-right: 20px;

    display: inline-block; 
    color:  #ffffff;
    fill: currentColor
}

.twitter-logo-icon {
    height: 46px;
    width: 30px;
    margin-right: 20px;

    display: inline-block; 
    color:  #ffffff;
    fill: currentColor
}

.logo-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff !important;
    fill: currentColor;
    padding: 12px;

    /* background-color: #021019;
    border-radius: 25px;
    margin-bottom: 2px;
    padding-bottom: 0px; */
}

.first-item {
    padding-top: 6px;
}

.active {
    color: rgba(29,161,242,1.00) !important;
    fill:currentColor;
}

/* .sidebar-link {
    padding-top: 3px;
    padding-bottom:
} */